<template>
    <layout>
        <el-row>
            <el-col :span="12">
                <h1>Usiuarios</h1>
            </el-col>
            <el-col :span="12" style="text-align: right">
                <inertia-link href="/users/create">
                    <el-button type="primary">Nuevo</el-button>
                </inertia-link>
            </el-col>
        </el-row>

        <el-divider></el-divider>


        <el-table>
            :data="user"
            style="width: 100%">
            <el-table-column
                prop="username"
                label="Usuario">
            </el-table-column>

        <el-table-column label="Operaciones">
            <template slot-scope="scope">
                <el-button icon="fas fa-pencil-alt" type="warning" size="mini" @click="edit(scope.row.id)"></el-button>
                <el-button icon="fas fa-trash" size="mini" type="danger" @click="remove(scope.row.id)"></el-button>
            </template>
        </el-table-column>
        </el-table>

    </layout>

</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
            return {
                users: [],

            }
        },
        methods: {
            edit($id) {
                this.$inertia.visit('/users/' + $id + '/edit');
            },
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar el Usuario?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete('/users/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            }
        },

        mounted() {
            if (this.$page.users) {
                this.user = this.$page.users
            }

        }
    }
</script>
